head {
    font-family: Verdana;
  }
  
  body {
    font-family: Verdana;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  li a, li a:link, li a:visited {
  text-decoration: none;
  color: black;
  padding: 10px;
  }
  
  li a:hover, li a:active, li a:focus {
  background: gray;
  }
  
  
  li a {
    text-decoration: none;
    color: black;
    text-align: center;
  }
  
  
  .img {
    background-image: url("ed2.jpg");
    background-size: cover;
    min-width: 800px;
    min-height: 650px;
    display: flex;
    transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75);
    -webkit-transform: scale(0.75, 0.75);
    align-content: flex-end;
  
  
  };
  